* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: IRANSans; */
    background-color: #020202;
}
.row {
    --bs-gutter-x:0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.hide{
    display: none !important;
}
.show{
    display: flex !important;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header .menu-icon{
    cursor: pointer;
    font-size: 25px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 20px;
    opacity: 0.8;
}
.header .menu-icon:hover {
    opacity: 1;
}
.header .logo{
    color: #fff;
    font-size: 20px;
    margin-left: 40px;
}
.menu{
   width: 100%;
   height: 100vh;
   background-color: #020202; 
   position: absolute;
   z-index: 1000;
   display: none;
}
.menu .menu-header{
    width: 100%;
    padding: 20px 20px 20px 40px;
    color: #fff;
}
.menu .menu-header .menu-close-icon{
    cursor: pointer;
    font-size: 25px;  
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
}
.menu .menu-header .menu-close-icon:hover{
    opacity: 1;
}
.menu .menu-header .logo{
    font-size: 20px;  
}
.menu .items-container{
    width: 100%;
    flex-grow: 1;
    color: #fff;
    font-size: 25px;
}
.menu .items-container .item{
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    padding: 10px;
}
.menu .items-container .item:hover{
    opacity: 1;
}

.home{
    width: 100%;
    height: 100vh;
}

.home .informations .fast-contact .item{
    width: 50px;
    height: 50px;
    font-size:28px;
    color: #fff;
    opacity: 0.8;
}
.home .informations .fast-contact .item:hover{
    opacity: 1;
}
.home .informations{
    width: 100%;
    min-height: 50px;
    padding: 0px 40px;
}
.home .informations .title .main-title{
    font-size: 50px;
    font-weight: 600;
}
.home .informations .title .main-title .name{
    color: #c70039;
}
.home .informations .title .main-title .last-name{
    color: #fff;
}
.home .informations .title .descriptions{
    font-size: 18px;
    margin-top: 15px;
    font-size: 20px;
}
.home .informations .title .descriptions span:first-child{
    color: #fff;
}
.home .informations .title .descriptions span:last-child{
    color: #c70039;
}
.home .informations .social-media .item{
    color: #fff;
    opacity: 0.8;
    font-size: 20px;
    width: 40px;
    height: 40px;
}
.home .informations .social-media .item:hover{
    opacity: 1;
}
.about-me{
    width: 100%;
}